<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>Info3</title>
</head>
<style>
    div{
        text-align: justify;
        text-justify: inter-word;
    }
</style>
<body>
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <span class="ml-3 text-xl"><i class="fas fa-heartbeat fa-1.5x " style="color:orangered"></i> DO IT RIGHT</span>
             
          </a>
          <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-gray-900" href="/index">Home</a>
            <a class="mr-5 hover:text-gray-900" href="/info">Information</a>
            <a class="mr-5 hover:text-gray-900" href="/info2">Steps</a>
            <a class="mr-5 hover:text-gray-900" href="/info3">Exercises</a>
          </nav>
        </div>
      </header>
      <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-20">
            <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">Exercises</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base"><div>What are the health benefits of exercise?
                Regular exercise and physical activity may:
                
                Help you control your weight. Along with diet, exercise plays an important role in controlling your weight and preventing obesity. To maintain your weight, the calories you eat and drink must equal the energy you burn. To lose weight, you must use more calories than you eat and drink.
                
                Reduce your risk of heart diseases. Exercise strengthens your heart and improves your circulation. The increased blood flow raises the oxygen levels in your body. This helps lower your risk of heart diseases such as high cholesterol, coronary artery disease, and heart attack. Regular exercise can also lower your blood pressure and triglyceride levels.
                
                Help your body manage blood sugar and insulin levels. Exercise can lower your blood sugar level and help your insulin work better. This can cut down your risk for metabolic syndrome and type 2 diabetes. And if you already have one of those diseases, exercise can help you to manage it.
                
                Help you quit smoking. Exercise may make it easier to quit smoking by reducing your cravings and withdrawal symptoms. It can also help limit the weight you might gain when you stop smoking.
                
                Improve your mental health and mood. During exercise, your body releases chemicals that can improve your mood and make you feel more relaxed. This can help you deal with stress and reduce your risk of depression.
                
                Help keep your thinking, learning, and judgment skills sharp as you age. Exercise stimulates your body to release proteins and other chemicals that improve the structure and function of your brain.
                
                Strengthen your bones and muscles. Regular exercise can help kids and teens build strong bones. Later in life, it can also slow the loss of bone density that comes with age. Doing muscle-strengthening activities can help you increase or maintain your muscle mass and strength.
          </div>
      </div>
      </section>
      <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap w-full mb-20">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
              <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Select The Exercise</h1>
              <div class="h-1 w-20 bg-yellow-500 rounded"></div>
            </div>
          </div>
          <div class="flex flex-wrap -m-4">
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <a href="/squat"><img class="h-40 rounded w-full object-cover object-center mb-6" src="https://media.istockphoto.com/photos/strength-workout-concept-fit-black-woman-and-her-boyfriend-doing-at-picture-id1322852339?b=1&k=20&m=1322852339&s=170667a&w=0&h=hpkyLkumsE8gzyAwtPCR5u-6fXf8efAripBEhoR_sDE=" alt="content"></a>
                <h3 class="tracking-widest text-yellow-500 text-xs font-medium title-font">Exercise-1</h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Squat</h2>
                <p class="leading-relaxed text-base">A squat is a strength exercise in which the trainee lowers their hips from a standing position and then stands back up.</p>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <a href="/lunges"><img class="h-40 rounded w-full object-cover object-center mb-6" src="https://media.istockphoto.com/photos/lunging-is-good-for-the-legs-picture-id1036780614?b=1&k=20&m=1036780614&s=170667a&w=0&h=A57KpnX13UyM_ZBkpGBd0Wkv6e8SZj1cTDhxHY45f1c=" alt="content"></a>
                <h3 class="tracking-widest text-yellow-500 text-xs font-medium title-font">Exercise-2</h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Lunges</h2>
                <p class="leading-relaxed text-base">Lunges are a powerful exercise, allowing you to shape and strengthen almost every muscle in the lower body.</p>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <a href="/high_knee"><img class="h-40 rounded w-full object-cover object-center mb-6" src="https://media.istockphoto.com/photos/handsome-black-sportsman-walks-highly-lifting-knees-picture-id1200935405?b=1&k=20&m=1200935405&s=170667a&w=0&h=DBzBeHyXpEezPS04FR9eBgONnRupTN4X-cE0JpOYgm8=" alt="content"></a>
                <h3 class="tracking-widest text-yellow-500 text-xs font-medium title-font">Exercise-3</h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">High knees</h2>
                <p class="leading-relaxed text-base">High Knees are a cardio-intensive exercise performed at a fast pace. It engages your core, strengthens all the muscles in your legs.</p>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <a href="/mountain_climber"><img class="h-40 rounded w-full object-cover object-center mb-6" src="https://media.istockphoto.com/photos/young-fitness-couple-working-out-in-gym-together-fitness-training-picture-id927091956?b=1&k=20&m=927091956&s=170667a&w=0&h=EnhaaKABsxMxnCZQFMKKG5Vl19XWqn1x0QjgDUpaBt8=" alt="content"></a>
                <h3 class="tracking-widest text-yellow-500 text-xs font-medium title-font">Exercise-4</h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Mountain Climber</h2>
                <p class="leading-relaxed text-base">The mountain climber is a dynamic exercise that increases core strength, stability through repeated lower body motion.</p>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
                <div class="bg-gray-100 p-6 rounded-lg">
                    <a href="/plank"><img class="h-40 rounded w-full object-cover object-center mb-6" src="https://media.istockphoto.com/photos/shot-of-a-young-man-doing-planks-during-his-workout-routine-at-the-picture-id1319221969?b=1&k=20&m=1319221969&s=170667a&w=0&h=Zz5psIDB_92d76u9qnVTWtdrZGNhCfiDcEXNd9psXBM=" alt="content"></a>
                  <h3 class="tracking-widest text-yellow-500 text-xs font-medium title-font">Exercise-5</h3>
                  <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Plank</h2>
                  <p class="leading-relaxed text-base">The plank exercise works the entire core, especially the rectus abdominis. It also works the abdominal muscles.</p>
                </div>
              </div>
          </div>
        </div>
      </section>
      <footer class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
          <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left md:mt-0 mt-10">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-yellow-500 rounded-full" viewBox="0 0 24 24">
                <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
              </svg>
               
            </a>
            <p class="mt-2 text-sm text-gray-500"></p><b>Be More,Do More</b></p>
          </div>

        <div class="bg-gray-100">
          <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
            <p class="text-gray-500 text-sm text-center sm:text-left">© 2022 DO IT RiGHT —
              <a href="https://twitter.com/knyttneve" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@knyttneve</a>
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
              <a class="text-gray-500">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-500">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                  <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-500">
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                  <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                  <circle cx="4" cy="4" r="2" stroke="none"></circle>
                </svg>
              </a>
            </span>
          </div>
        </div>
  </footer>
    
</body>
</html>